.navbar-brand img{
    width: 100px;
    height: auto;
}

.feature-item img{
    width: 50px;
    height: auto;
}

.main-header{
   padding-top: 105px;
}

.subcribe{
    background-image: url(/assets/images/bgr.jpg);
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    
}